<footer class="section-footer">
	<div class="wrap flex lb-footer-parent">
		<div class="wrap flex footer-body">
			<div class="lb-footer-child">
				<h5>PRODUCT</h5>
					<ul>
						<li>
							<a href="https://labelbox.com/product/platform">Platform</a>
						</li>
						<li>
							<a href="https://labelbox.com/product/data-labeling-services">Workforce</a>
						</li>
						<li>
							<a href="https://labelbox.com/product/image-segmentation">Image Segmentation</a>
						</li>
						<li>
							<a href="https://labelbox.com/product/image-classification">Image Classification</a>
						</li>
						<li>
							<a href="https://labelbox.com/product/object-detection">Object Detection</a>
						</li>
						<li>
							<a href="https://labelbox.com/product/enterprise">For Enterprise</a>
						</li>
						<li>
							<a href="https://labelbox.com/pricing">Pricing</a>
						</li>
						<li>
							<a target="_blank" href="http://status.labelbox.com">
								Status
							</a>
						</li>
					</ul>
			</div>

			<div class="lb-footer-child">
				<h5>SOLUTIONS</h5>
				<ul>
						<li>
							<a href="https://labelbox.com/solutions/all#self-driving">Autonomous Vehicles</a>
						</li>
						<li>
							<a href="https://labelbox.com/solutions/all#robotics">Robotics & Manufacturing</a>
						</li>
						<li>
							<a href="https://labelbox.com/solutions/all#insurance">Insurance</a>
						</li>
						<li>
							<a href="https://labelbox.com/solutions/all#geospatial">Geospatial</a>
						</li>
						<li>
							<a href="https://labelbox.com/solutions/all#retail">E-commerce & Retail</a>
						</li>
						<li>
							<a href="https://labelbox.com/solutions/all#cbp">Chem, Bio & Pharma</a>
						</li>
						<li>
							<a href="https://labelbox.com/solutions/all#medical">Medical Imaging</a>
						</li>
						<li>
							<a href="https://labelbox.com/solutions/all">View all solutions</a>
						</li>
					</ul>
			</div>

			<div class="lb-footer-child">
				<h5>LEARN</h5>
				<ul>
					<li>
						<a href="https://labelbox.com/learn/usecases">
							Use Cases
						</a>
					</li>

						<li>
							<a target="_blank" href="https://labelbox.com/docs">
								Documentation
							</a>
						</li>
						<li>
							<a href="https://labelbox.com/blog">Blog</a>
						</li>
						<li>
							<a href="https://labelbox.com/blog/tag/case-studies/">
								Customer Stories
							</a>
						</li>

						<li>
							<a target="_blank" href="https://community.labelbox.com">
								Community
							</a>
						</li>

						<li>
							<a href="https://labelbox.com/learn/buy-vs-build">Build & Buy</a>
						</li>
					</ul>
			</div>

			<div class="lb-footer-child">
				<h5>COMPANY</h5>
				<ul>
              <li>
                <a href="https://labelbox.com/company/about">About</a>
              </li>

              <li>
                <a href="https://labelbox.com/company/careers">Careers</a>
              </li>

              <li>
                <a href="https://labelbox.com/company/team">Team</a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://labelbox.com/docs/legal/privacy-policy"
                >
                  Privacy Policy
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://labelbox.com/docs/legal/terms-of-use"
                >
                  Terms of Use
                </a>
              </li>
            </ul>
			</div>

		</div>
		<!-- <div class="footer-nav flex">
			{{navigation}}
		</div> -->

<hr/>
	<div class="wrap flex lb-footer-parent" style="width:100%;text-align:center;justify-content:center;">
		<p class="bottom">
	    © Labelbox, Inc<br />
	    Made with ♥ in California
	  </p>
	</div>
</footer>
