/** Colors */

$white: #fff;
$black: #000;
$titles: #333;
$gray: #9b9b9b;
$textPrimary: #21272C;
$textSecondary: #49535F;
$textGray: #95A8BE;
$gray500: #6A7888;
$primary: #5CAAFF;
$gray07: #535F69;

/** Config  */

$mobile-space: 20px;
$mobile-bar-height: 50px;
$desktop-bar-height: 64px;